<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Web Shop</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="head-title">
    <h1 class="colored-line"><a href="/home">My Shop</a></h1>
</div>
<header class="main-header">
<div class="topnav">
    <button><a href="/only-available">ONLY AVAILABLE</a></button>
    <button><a href="/cheapest-first">CHEAPEST FIRST</a></button>
    <button><a href="/contains-nike">CONTAINS NIKE</a></button>
    <button><a href="/average-stock">AVERAGE STOCK</a></button>
    <button><a href="/most-expensive">MOST EXPENSIVE AVAILABLE</a></button>
</div>
</header>
<br>
<h3 class="searchbar-label">Search for...</h3>
<form th:action="@{/search}" method="post">
    <input type="text" id="searchInput" name="searchQuery" placeholder="...something like Nike"/>
    <button type="submit">Submit</button>
</form>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    <tr th:each="item : ${shopItems}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.quantityOfStock}"></td>
    </tr>
    </thead>
    <tbody>

    </tbody>

</table>

</body>
</html>